@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');


@media (min-width:480px) and (max-width:1200px) {
    #avatar {
        width: 270px;
        height: 471px;
    }
}

/* Partie gauche - contact */
#logo_map{
    color: rgba(224, 11, 11, 0.89);
}
#logo_phone{
    color: rgba(224, 11, 11, 0.89);
}
#logo_enveloppe {
    color: rgba(224, 11, 11, 0.89);
}

/* Partie gauvhe - hobbies */
#music {
    color: rgb(51, 169, 220)
}
#basket{
    color: rgb(233, 89, 53)
}
#muscu {
    color: rgb(239, 199, 37);
}
#users {
    color:rgb(82, 97, 145);
}

/* Partie droite - haut */
h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 50px;
}


/* Partie logo des compétences */
#html {
    height: 20%;
    width: 20%;
}

#css {
    height:20%;
    width: 20%;
}

#js {
    height: 15%;
    width: 15%
}

#php {
    height: 25%;
    width: 25%;
}


/* Encadrer titres section */
.w3-bar {
    background: rgb(51, 169, 220);
}

#fleche {
    color: rgb(239, 199, 37);
}

#mois {
    background:rgb(82, 97, 145);
}

.w3-bar-item {
    background: rgb(51, 169, 220);
    height: 38px;
}

/* Liens réseaux sociaux */

#linkedin {
    text-align: center;
    text-decoration: none;
}

#github {
    text-decoration: none;
}

